{% extends 'base.html' %} {% block conted %}

<div class="row">
  <h1>Escolha a ferramenta desejada</h1>

  <div class="col-sm-6 p-5">
    <div class="card">
      <img src="../imgs/cabo.jpg" class="card-img-top" alt="img_cabo" />
      <div class="card-body">
        <h5 class="card-title">Dimensionamento De Cabos</h5>
        <p class="card-text">
          Queda de tensão, bitola, corrente de curto e muito mais
        </p>
        <a href="{{url_for('cabos')}}" class="btn btn-primary">Clique Aqui</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 p-5">
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
