{% extends 'base.html' %} {% block conted %}
<title>Relatório de Engenharia</title>

<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>
<style>
  .custom-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
  }
  .result-item {
    margin-bottom: 20px;
  }
</style>

<body>
  <div class="container custom-container">
    <h1 class="text-center mb-4">Relatório Resultados</h1>

    <div class="result-item">
      <h2>Distâncias Entre os Condutores:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Condutores</th>
            <th>Distância (metros)</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(dist_entre_condutores|length) %} {% set distancia =
          dist_entre_condutores[i] %} {% if distancia %}
          <tr>
            <td>{{ condutores[i] }}</td>
            <td>{{ distancia }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="result-item">
      <h2>Distâncias entre as Imagens dos Condutores:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Imagens dos Condutores</th>
            <th>Distância (metros)</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(dist_imagens|length) %} {% set distancia =
          dist_imagens[i] %} {% if distancia %}
          <tr>
            <td>{{ condutores[i] }}im</td>
            <td>{{ distancia }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</body>
{% endblock %}
